@model UnicaesGestion.FuncionUnidad

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
               Funcion de Unidad
            </header>

            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form">

                        <div class="form-group ">
                            <label for="unidad" class="control-label col-lg-2">Puesto de Trabajo</label>
                            <div class="col-lg-10">
                                <input class=" form-control" name="" id="" value="@Html.DisplayFor(model => model.Unidad.nombre)" type="text" disabled />
                            </div>
                        </div>
                        <!--Change for a table-->
                        <div class="form-group ">
                            <label for="unidad" class="control-label col-lg-2">Funciones</label>
                            <div class="col-lg-10">
                                <input class=" form-control" name="" id="" value="@Html.DisplayFor(model => model.descripcion)" type="text" disabled />
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->