@model UnicaesGestion.Unidad

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/assets/data-tables/DT_bootstrap.css" />
<!--Corregido-->
<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                Nueva Unidad
            </header>

            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="Post" action="/Unidads/Create">

                        <div class="form-group row">
                            <label for="procedimiento" class="control-label col-lg-2">Unidad</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="nombre" name="nombre" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="objetivoI" class="control-label col-lg-2">Objetivo</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="objetivo" name="objetivo" rows="3"> </textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="objetivoF" class="control-label col-lg-2">Depende</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("depende", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="objetivoF" class="control-label col-lg-2">Responsable</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("idPuestoResponsableTrabajo", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group row">                           
                            <div class="col-lg-10">
                                <button class="btn btn-danger" data-toggle="modal" href="#myModal" type="button"><i class="fa fa-plus "> Agregar Funcion</i></button>
                            </div>
                        </div>

                        @*<div class="form-group row">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-danger" type="submit" value="Create">Guardar</button>
                                <button class="btn btn-default" type="submit" value="Create">Cancelar</button>
                                <button class="btn btn-danger" data-toggle="modal" href="#myModal" type="button"><i class="fa fa-plus "> Funcion</i></button>
                            </div>
                        </div>*@

                        @{ Html.RenderAction("Index","FuncionUnidads");}


                        <div class="form-group row">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-danger" type="submit" value="Create">Guardar</button>
                                <button class="btn btn-default" type="submit" value="Create">Cancelar</button>
                                @*<button class="btn btn-danger" data-toggle="modal" href="#myModal" type="button"><i class="fa fa-plus "> Funcion</i></button>*@
                            </div>
                        </div>

                    </form>
                </div>
            </div>


        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->



<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Editar Criterio</h4>
            </div>

            <div class="modal-body">
                <!--body start-->
                <div class="form">
                       
                       
                        @{
                            var a = ViewBag.idUnidad;
                            Html.RenderPartial("_Paso", new ViewDataDictionary { { "idUnidad", a } });
                        }

                </div>

                <!--body end-->
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-success" onclick="Enviar()" type="button">Guardar</button>

            </div>
        </div>
    </div>
</div>
<!-- modal -->





<!--Start JavaScript-->
@section JavaScript {
    <script src="~/Content/js/ModalFunction.js"></script>

    @*<script>
        $(document).ready(function () {
            EditableTable.init();
        });
    </script>*@

<script type="text/javascript" src="~/Content/assets/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script>
        jQuery(document).ready(function () {
            EditableColumn.init();
        });
    </script>

    <script>
            function Enviar() {
                //console.log('asasasasa');
                //console.log($('#funcion'));
                $('#funcion')[0].submit(function (event) {
                    //cons.log("loodsodosodosdos");
                    alert("Handler for .submit() called.");
                    event.preventDefault();
                });
            }

    </script>


}
<!--End JavaScript-->