@model IEnumerable<UnicaesGestion.Criterio>

<ul id="myUL" class="task-list">
    @foreach (var item in Model)
    {
        <li>

            <div class="task-title">
                <span class="task-title-sp"><a>@Html.DisplayFor(modelItem => item.criterio1)</a></span>

                <div class="pull-right hidden-phone">
                    <button onclick="location.href='@Url.Action("Edit", "Criterios", new { id=item.id })'" class="btn btn-success btn-xs"><i class=" fa fa-eye"></i> </button>
                    <button onclick="location.href='@Url.Action("Delete", "Delete", new { id=item.id })'" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                </div>
            </div>
        </li>

    }
</ul>


