
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

    <section class="error-wrapper">
        <img src="~/Content/img/404_icon.png" height="720px" width="720px"/>       
    </section>

</div>
