@model UnicaesGestion.CatalogoCompetencia

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/assets/toastr-master/toastr.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/assets/data-tables/DT_bootstrap.css" />

<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                Competencias Cardinales y Especificas
            </header>



            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form" method="post" action="/CatalogoCompetencias/Create">

                        <div class="form-group ">
                            <label for="unidad" class="control-label col-lg-2">Competencia</label>
                            <div class="col-lg-10">
                                <input class=" form-control" id="competencia" name="competencia" type="text" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="control-label col-lg-2">Tipo de Puesto</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("idTipoPuesto", null, string.Empty, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Categoria</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("idCategoria", null, string.Empty, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="modal-footer clearfix">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-danger" type="submit" value="Create">Agregar</button>
                            </div>
                        </div>

                    </form>

                    @{ Html.RenderAction("Index", "CatalogoCompetencias");}
                </div>
            </div>



        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->


@section JavaScript {
    <script src="~/Content/js/ModalFunction.js"></script>
    <script src="~/Content/assets/toastr-master/toastr.js"></script>
    <script src="~/Scripts/views/Validaciones.js"></script>

    <script>
        $(document).ready(function () {
            EditableTable.init();
        });
    </script>
}
<!--End JavaScript-->