
@{
    ViewBag.Title = "AddJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/assets/data-tables/DT_bootstrap.css" />


<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
               Nuevo Puesto de Trabajo
            </header>

            @*<header class="panel-heading">
                <div class="form-group ">
                    <div class="clearfix">
                        <!--start-->
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="btn btn-group pull-right btn-primary dropdown-toggle " type="button">
                                Herramientas <span class="caret"></span>
                            </button>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">Imprimir</a></li>
                                <li><a href="#">Guardar como PDF</a></li>
                                <li><a href="#">Exportar como Excel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end-->
            </header>*@

            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="get" action="">
                        <div class="form-group ">
                            <label for="unidad" class="control-label col-lg-2">Titulo del Puesto</label>
                            <div class="col-lg-10">
                                <input class=" form-control" id="unidad" name="unidad" type="text" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Unidad Organizativa</label>
                            <div class="col-lg-10">
                                <select class="form-control m-bot15">
                                    <option>Opción 1</option>
                                    <option>Opción 2</option>
                                    <option>Opción 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Jefe Inmediato</label>
                            <div class="col-lg-10">
                                <select class="form-control m-bot15">
                                    <option>Opción 1</option>
                                    <option>Opción 2</option>
                                    <option>Opción 3</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="objetivo" class="control-label col-lg-2">Objetivo</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="formacionA" name="formacionA"  rows="3">

                                </textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <div class="clearfix">

                        <div class="btn-group">
                            <button id="editable-sample_new" class="btn green btn-danger">
                                Nueva Funcion <i class="fa fa-plus"></i>
                            </button>
                        </div>

                        @*<div class="btn-group pull-right">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Herramientas <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Imprimir</a></li>
                                <li><a href="#">Guardar como PDF</a></li>
                                <li><a href="#">Exportar como Excel</a></li>
                            </ul>
                        </div>*@
                    </div>
                    <div class="space15"></div>

                    <div class="table-responsive">

                        <table class="table table-striped table-hover table-bordered" id="editable-sample">
                            <thead>
                                <tr>
                                    
                                    <th>Funciones</th>
                                    <th>Guardar</th>
                                    <th>Cancelar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    
                                    <td>Jondi Rose</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i> Guardar</a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i> Cancelar</a></td>
                                </tr>
                                <tr class="">
                                   
                                    <td>Jondi Rose</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i> Guardar</a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i> Cancelar</a></td>
                                </tr>
                                <tr class="">
                                    
                                    <td>Jondi Rose</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i> Guardar</a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i> Cancelar</a></td>
                                </tr>
                                <tr class="">
                                    
                                    <td>Jondi Rose</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i> Guardar</a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i> Cancelar</a></td>
                                </tr>
                                <tr class="">
                                    
                                    <td>Jondi Rose</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i> Guardar</a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i> Cancelar</a></td>
                                </tr>
                                <tr class="">
                                   
                                    <td>Jondi Rose</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i> Guardar</a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i> Cancelar</a></td>
                                </tr>
                                <tr class="">
                                    
                                    <td>Jondi Rose</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i> Guardar</a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i> Cancelar</a></td>
                                </tr>
                                <tr class="">
                                    
                                    <td>Jondi Rose</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i> Guardar</a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i> Cancelar</a></td>
                                </tr>
                                <tr class="">
                                    
                                    <td>Jondi Rose</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i> Guardar</a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i> Cancelar</a></td>
                                </tr>
                                <tr class="">
                                    
                                    <td>Jondi Rose</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i> Guardar</a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i> Cancelar</a></td>
                                </tr>                              
                            </tbody>
                        </table>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-danger" onclick="location.href='/Admin/AddJobProfile'" type="submit">Guardar</button>
                                <button class="btn btn-default" type="button">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->

<!--Start JavaScript-->
@section JavaScript {
    <script>
        $(document).ready(function () {
            EditableTable.init();
        });
    </script>
}
<!--End JavaScript-->