
@{
    ViewBag.Title = "AddUnity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/assets/data-tables/DT_bootstrap.css" />

<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                 Nueva Unidad
            </header>

            @*<header class="panel-heading">
                <div class="form-group ">
                    <div class="clearfix">
                        <!--start-->
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="btn btn-group pull-right btn-primary dropdown-toggle " type="button">
                                Herramientas <span class="caret"></span>
                            </button>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">Imprimir</a></li>
                                <li><a href="#">Guardar como PDF</a></li>
                                <li><a href="#">Exportar como Excel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end-->
            </header>*@

            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="get" action="">
                        <div class="form-group ">
                            <label for="unidad" class="control-label col-lg-2">Unidad</label>
                            <div class="col-lg-10">
                                <input class=" form-control" id="unidad" placeholder="Mantenimiento Menor de vehiculos" name="unidad" type="text" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="objetivo" class="control-label col-lg-2">Objetivo</label>
                            <div class="col-lg-10">
                                <input class=" form-control" id="objetivo" name="objetivo" type="text" />
                            </div>
                        </div>
                        @*<div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Dependencia</label>
                            <div class="col-lg-10">
                                <select class="form-control m-bot15">
                                    <option>Opción 1</option>
                                    <option>Opción 2</option>
                                    <option>Opción 3</option>
                                </select>
                            </div>
                        </div>*@

                        <div class="form-group last">
                            <label class="control-label col-md-3">Dependencias:</label>
                            <div class="col-md-9">
                                <select name="country" class="multi-select" multiple="" id="my_multi_select2">
                                    <option value="AF">Rectoria</option>
                                    <option value="AL">Vicerrectoría General</option>
                                    <option value="DZ">Auditoría</option>
                                    <option value="AS">Auditoría Interna</option>
                                    <option value="AD">Comunicaciones</option>
                                    <option value="AO">Unidad de Comunicaciones y Mercadeo</option>
                                    <option value="AI">Facultad de Jurisprudencia y Ciencias Sociales</option>
                                   
                                </select>
                            </div>
                        </div>

                        <div class="form-group last">
                            <label class="control-label col-md-3">Conformado por:</label>
                            <div class="col-md-9">
                                <select name="country" class="multi-select" multiple="" id="my_multi_select3">
                                    <option value="AF">Jose Vasquez</option>
                                    <option value="AL">Claudia Torres</option>
                                    <option value="DZ">Jaime Rodriguez</option>
                                    <option value="AS">Nanci Rebeca</option>
                                    <option value="AD">Ismael Salinas</option>
                                    <option value="AO">Joao Salazar</option>
                                    <option value="AI">Ruben Cerna</option>
                                    <option value="AQ">Carlos Salguero</option>
                                    <option value="AR">Alex Linares</option>
                                    <option value="AM">Jose Pacheco</option>
                                    <option value="AW">Iris Martinez</option>
                                    <option value="AU">Sonia Perez</option>
                                </select>
                            </div>
                        </div>

                       
                    </form>
                </div>
            </div>

            

            @*<div class="panel-body">
                <form class="cmxform form-horizontal tasi-form" id="signupForm" method="get" action="">
                    <div class="form-group last">
                        <label class="control-label col-md-3">Conformado por:</label>
                        <div class="col-md-9">
                            <select name="country" class="multi-select" multiple="" id="my_multi_select3">
                                <option value="AF">Jose Vasquez</option>
                                <option value="AL">Claudia Torres</option>
                                <option value="DZ">Jaime Rodriguez</option>
                                <option value="AS">Nanci Rebeca</option>
                                <option value="AD">Ismael Salinas</option>
                                <option value="AO">Joao Salazar</option>
                                <option value="AI">Ruben Cerna</option>
                                <option value="AQ">Carlos Salguero</option>
                                <option value="AR">Alex Linares</option>
                                <option value="AM">Jose Pacheco</option>
                                <option value="AW">Iris Martinez</option>
                                <option value="AU">Sonia Perez</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>*@
          

            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <div class="clearfix">

                        <div class="btn-group">
                            <button id="edit-table-button" class="btn green btn-danger">
                                Nueva Función <i class="fa fa-plus"></i>
                            </button>
                        </div>

                        @*<div class="btn-group pull-right">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Herramientas <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Imprimir</a></li>
                                <li><a href="#">Guardar como PDF</a></li>
                                <li><a href="#">Exportar como Excel</a></li>
                            </ul>
                        </div>*@
                    </div>
                    <div class="space15"></div>

                    <div class="table-responsive">

                        <table class="table table-striped table-hover table-bordered" id="edit-table">
                            <thead>
                                <tr>
                                    <th>Funciones</th>
                                    <th>Guardar</th>
                                    <th>Cancelar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td>Jondi Rose</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Dulal</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Sumon</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>vectorlab</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Admin</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Rafiqul</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Jhon Doe</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Dulal</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>Sumon</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="">
                                    <td>vectorlab</td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-save"></i></a></td>
                                    <td><a href="javascript:;" class="btn btn-primary btn-default"><i class="fa fa-times"></i></a></td>
                                </tr>
                               
                            </tbody>
                        </table>



                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-danger" type="submit">Guardar</button>
                                <button class="btn btn-default" type="button">Cancel</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->


<!--Start JavaScript-->
@section JavaScript {
<script type="text/javascript" src="~/Content/assets/bootstrap-daterangepicker/daterangepicker.js"></script>

   <script>
       jQuery(document).ready(function () {
           EditableColumn.init();
       });
</script>

}
<!--End JavaScript-->


