
@{
    ViewBag.Title = "EditJobProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap-timepicker/compiled/timepicker.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />

<!--new code-->
<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                Editar Perfil de Contratacion
            </header>

            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="get" action="">

                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Puesto de Trabajo</label>
                            <div class="col-lg-10">
                                <select class="form-control m-bot15">
                                    <option>Rector</option>
                                    <option>Fiscal</option>
                                    <option>Vicerector</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-3">Fecha de Elaboracion</label>
                            <div class="col-md-3 col-xs-11">
                                <div id="fechaElavoracion" data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="12-02-2012"
                                     class="input-append date dpYears">
                                    <input type="text" readonly="" value="12-02-2012" size="16" class="form-control">
                                    <span class="input-group-btn add-on">
                                        <button class="btn btn-danger" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                                <span class="help-block">Seleccionar fecha</span>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="unidad" class="control-label col-lg-2">Analista Responsable</label>
                            <div class="col-lg-10">
                                <input class=" form-control" id="unidad" name="unidad" type="text" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Aprobado Por</label>
                            <div class="col-lg-10">
                                <select class="form-control m-bot15">
                                    <option>Opción 1</option>
                                    <option>Opción 2</option>
                                    <option>Opción 3</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Fecha de Aprobacion</label>
                            <div class="col-md-3 col-xs-11">
                                <div id="fechaAprobacion" data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="12-02-2012"
                                     class="input-append date dpYears">
                                    <input type="text" readonly="" value="12-02-2012" size="16" class="form-control">
                                    <span class="input-group-btn add-on">
                                        <button class="btn btn-danger" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                                <span class="help-block">Seleccionar fecha</span>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="procedimiento" class="control-label col-lg-2">Formacion Academica</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="formacionA" name="formacionA" rows="2" >Ser Abogado de la República de El Salvador </textarea>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="procedimiento" class="control-label col-lg-2">Experiencia Laboral</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="formacionA" name="formacionA" rows="2" >Ejecicio de la abogacía en El Salvador</textarea>
                            </div>
                        </div>



                        <div class="clearfix">
                            <div class="btn-group">
                                <button class="btn btn-danger" data-toggle="modal" href="#myModal" type="button">
                                    Agregar Requisito <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Requisito</h4>
                        </div>

                        <div class="modal-body">
                            <!--body start-->
                            <div class="form">
                                <form class="cmxform form-horizontal tasi-form" id="signupForm" method="get" action="">
                                    <!--controles-->

                                    <div class="form-group ">
                                        <label for="password" class="control-label col-lg-2">Tipo de Requisito</label>
                                        <div class="col-lg-10">
                                            <select class="form-control m-bot15">
                                                <option>Formacion Academica</option>
                                                <option>Experciencia Laboral</option>
                                                <option>Complementos</option>
                                                <option>Conocimientos Tecnicos</option>
                                                <option>Habilidades Personales y Profesionales</option>
                                                <option>Condiciones necesarias</option>
                                                <option>Competencias necesarias</option>
                                                <option>Competencias Especificas</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label for="procedimiento" class="control-label col-lg-2">Denominacion</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control" id="formacionA" name="formacionA" rows="2"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label for="password" class="control-label col-lg-4">Prioridad de Requisito</label>
                                        <div class="col-lg-8">
                                            <select class="form-control m-bot15">
                                                <option>Alto</option>
                                                <option>Medio</option>
                                                <option>Bajo</option>
                                            </select>
                                        </div>
                                    </div>

                                    @*<div class="form-group ">
                                            <label for="password" class="control-label col-lg-2">Prioridad de Requisito</label>
                                            <div class="radios col-lg-10">
                                                <label class="label_radio" for="radio-01">
                                                    <input name="sample-radio" id="radio-01" value="1" type="radio" checked /> Esencial
                                                </label>
                                                <label class="label_radio" for="radio-02">
                                                    <input name="sample-radio" id="radio-02" value="1" type="radio" /> completario
                                                </label>
                                            </div>
                                        </div>*@

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Años de Experiencia</label>

                                        <div class="col-md-2">
                                            <div id="spinner1">
                                                <div class="input-group input-small">
                                                    <input type="text" class="spinner-input form-control" maxlength="3" readonly>
                                                    <div class="spinner-buttons input-group-btn btn-group-vertical">
                                                        <button type="button" class="btn spinner-up btn-xs btn-default">
                                                            <i class="fa fa-angle-up"></i>
                                                        </button>
                                                        <button type="button" class="btn spinner-down btn-xs btn-default">
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--controles end-->
                                </form>
                            </div>

                            <!--body end-->
                        </div>

                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                            <button class="btn btn-success" type="button">Agregar</button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->

            <!-- Edit Modal-->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="editModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Editar Requisito</h4>
                        </div>

                        <div class="modal-body">
                            <!--body start-->
                            <div class="form">
                                <form class="cmxform form-horizontal tasi-form" id="signupForm" method="get" action="">
                                    <!--controles-->

                                    <div class="form-group ">
                                        <label for="password" class="control-label col-lg-2">Tipo de Requisito</label>
                                        <div class="col-lg-10">
                                            <select class="form-control m-bot15">
                                                <option>Complementos</option>
                                                <option>Formacion Academica</option>
                                                <option>Experciencia Laboral</option>
                                                <option>Conocimientos Tecnicos</option>
                                                <option>Habilidades Personales y Profesionales</option>
                                                <option>Condiciones necesarias</option>
                                                <option>Competencias necesarias</option>
                                                <option>Competencias Especificas</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label for="procedimiento" class="control-label col-lg-2">Denominacion</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control" id="formacionA" name="formacionA" rows="2"> Maestria</textarea>
                                        </div>
                                    </div>

                                    @*<div class="form-group ">
                                        <label for="password" class="control-label col-lg-4">Prioridad de Requisito</label>
                                        <div class="col-lg-8">
                                            <select class="form-control m-bot15">
                                                <option>Alto</option>
                                                <option>Medio</option>
                                                <option>Bajo</option>
                                            </select>
                                        </div>
                                    </div>*@

                                    @*<div class="form-group ">
                                    <label for="password" class="control-label col-lg-2">Prioridad de Requisito</label>
                                    <div class="radios col-lg-10">
                                        <label class="label_radio" for="radio-01">
                                            <input name="sample-radio" id="radio-01" value="1" type="radio" checked /> Esencial
                                        </label>
                                        <label class="label_radio" for="radio-02">
                                            <input name="sample-radio" id="radio-02" value="1" type="radio" /> completario
                                        </label>
                                    </div>
                                </div>*@

                                    @*<div class="form-group">
                                        <label class="control-label col-md-3">Años de Experiencia</label>

                                        <div class="col-md-2">
                                            <div id="spinner2">
                                                <div class="input-group input-small">
                                                    <input type="text" class="spinner-input form-control" maxlength="3" readonly>
                                                    <div class="spinner-buttons input-group-btn btn-group-vertical">
                                                        <button type="button" class="btn spinner-up btn-xs btn-default">
                                                            <i class="fa fa-angle-up"></i>
                                                        </button>
                                                        <button type="button" class="btn spinner-down btn-xs btn-default">
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                    <!--controles end-->
                                </form>
                            </div>

                            <!--body end-->
                        </div>

                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                            <button class="btn btn-success" type="button">Agregar</button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->

            <div class="panel-body">
                <div class="adv-table editable-table ">
                    @*<header class="panel-heading">
                            Complementos
                        </header>*@
                    <br />

                    <div class="space15"></div>

                    <div class="table-responsive">

                        <table class="table table-bordered table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th><i class=" "></i> Complementos</th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a>Maestria</a></td>

                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                       
                                        <button class="btn btn-primary btn-xs" data-toggle="modal" href="#editModal" type="button">
                                             <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                @*<tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                boka soka
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                salbal llb
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>*@
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <header class="panel-heading">
                        Conocimientos Tecnicos
                    </header>
                    <br />

                    <div class="space15"></div>

                    <div class="table-responsive">

                        <table class="table table-bordered table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th><i class=" "></i> Conocimientos</th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Normativas, leyes y reglamentos que rigen lo laboral, tributario y la educación, en El Salvador</a></td>

                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Manejo de paquetes informáticos
                                        </a>
                                    </td>

                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                @*<tr>
                                        <td>
                                            <a href="#">
                                                boka soka
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                salbal llb
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>*@
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <header class="panel-heading">
                        Habilidades Personales y Profesionales
                    </header>
                    <br />

                    <div class="space15"></div>

                    <div class="table-responsive">

                        <table class="table table-bordered table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th><i class=" "></i> Habilidades</th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Negociación </a></td>

                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Comunicación efectiva
                                        </a>
                                    </td>

                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Proactivo
                                        </a>
                                    </td>

                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Iniciativa
                                        </a>
                                    </td>

                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                @*<tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>*@
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <header class="panel-heading">
                        Condiciones Personales
                    </header>
                    <br />

                    <div class="space15"></div>

                    <div class="table-responsive">

                        <table class="table table-bordered table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th><i class=" "></i> Condiciones </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">En consonancia con los principios institucionales</a></td>

                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Disponibilidad de tiempo
                                        </a>
                                    </td>

                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Reconocida honorabilidad
                                        </a>
                                    </td>

                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Honesto
                                        </a>
                                    </td>

                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                @*<tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>*@
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <header class="panel-heading">
                        Competencias Necesarias
                    </header>
                    <br />

                    <div class="space15"></div>

                    <div class="table-responsive">

                        <table class="table table-bordered table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th><i class=" "></i> Descripcion</th>
                                    <th><i class=" "></i> Prioridad</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Compromiso</a></td>
                                    <td><a href="#">Alto</a></td>
                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Ética e Integridad
                                        </a>
                                    </td>
                                    <td><a href="#">Alto</a></td>

                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Orientación al cliente interno-externo
                                        </a>
                                    </td>
                                    <td><a href="#">Alto</a></td>
                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Adaptabilidad al cambio
                                        </a>
                                    </td>
                                    <td><a href="#">Alto</a></td>
                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Trabajo bajo presión</a></td>
                                    <td><a href="#">Alto</a></td>
                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Trabajo en equipo
                                        </a>
                                    </td>
                                    <td><a href="#">Alto</a></td>
                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                @*<tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>*@
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <header class="panel-heading">
                        Competencias Especificas
                    </header>
                    <br />

                    <div class="space15"></div>

                    <div class="table-responsive">

                        <table class="table table-bordered table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th><i class=" "></i> Descripcion</th>
                                    <th><i class=" "></i> Prioridad</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">Liderazgo</a></td>
                                    <td><a href="#">Alto</a></td>
                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Pensamiento estratégico
                                        </a>
                                    </td>
                                    <td><a href="#">Alto</a></td>

                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Relaciones públicas
                                        </a>
                                    </td>
                                    <td><a href="#">Alto</a></td>
                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Habilidades mediáticas
                                        </a>
                                    </td>
                                    <td><a href="#">Alto</a></td>
                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Modalidades de contacto</a></td>
                                    <td><a href="#">Alto</a></td>
                                    <td>
                                        @*<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>*@
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                                @*<tr>
                                        <td>
                                            <a href="#">
                                                Trabajo en equipo
                                            </a>
                                        </td>
                                        <td><a href="#">Alto</a></td>
                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>*@
                                @*<tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Vector Ltd</a></td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">
                                                Adimin co
                                            </a>
                                        </td>

                                        <td>
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>*@
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-success" type="button">Agregar</button>

            </div>

        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
<!--end new code-->


@section JavaScript {

<script src="~/Content/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/bootstrap-daterangepicker/daterangepicker.js"></script>

<!--this page  script only-->
<script src="~/Content/js/form-component.js"></script>

<!--Start JavaScript-->

<!--select2-->
<script type="text/javascript">

    $(document).ready(function () {
        $(".js-example-basic-single").select2();

        $(".js-example-basic-multiple").select2();
    });
</script>

}
<!--End JavaScript-->




