
@{
    ViewBag.Title = "ReadJobProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap-timepicker/compiled/timepicker.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />


<!--new code-->
<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                Nuevo Perfil de Contratacion
            </header>

            <header class="panel-heading">
             <div class="form-group ">
                 <div class="clearfix">
                     <!--in-->
                     <div class="btn-group pull-right">
                         <button data-toggle="dropdown" class="btn btn-group pull-right btn-primary dropdown-toggle " type="button">
                             Herramientas <span class="caret"></span>
                         </button>
                         <ul role="menu" class="dropdown-menu">
                             <li><a href="#">Imprimir</a></li>
                             <li><a href="#">Guardar como PDF</a></li>
                             <li><a href="#">Exportar como Excel</a></li>
                             <li><a href="#">Mostrar Perfil de puesto Completo</a></li>
                         </ul>
                     </div>
                  </div>
             </div>
             <!--end-->
        </header>

            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="get" action="">

                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Puesto de Trabajo</label>
                            <div class="col-lg-10">
                                <input class=" form-control" id="unidad" name="unidad" type="text" disabled />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-3">Fecha de Elaboracion</label>
                            <div class="col-md-3 col-xs-11">
                                <div class="col-lg-10">
                                    <input class=" form-control" id="unidad" name="unidad" type="text" disabled/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="unidad" class="control-label col-lg-2">Analista Responsable</label>
                            <div class="col-lg-10">
                                <input class=" form-control" id="unidad" name="unidad" type="text" disabled />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Aprobado Por</label>
                            <div class="col-lg-10">
                                <input class=" form-control" id="unidad" name="unidad" type="text" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Fecha </label>
                            <div class="col-md-3 col-xs-11">
                                <div class="col-lg-10">
                                    <input class=" form-control" id="unidad" name="unidad" type="text" disabled />
                                </div>
                            </div>
                        </div>

                    </form>


                </div>
            </div>

            <!--Start-->
            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="get" action="">

                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Tipo de Requisito</label>
                            <div class="col-lg-10">
                                <input class=" form-control" id="unidad" name="unidad" type="text" disabled />
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Nivel de Requisito</label>
                            <div class="col-lg-10">
                                <input class=" form-control" id="unidad" name="unidad" type="text" disabled />
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Prioridad de Requisito</label>
                            <div class="col-lg-10">
                                <input class=" form-control" id="unidad" name="unidad" type="text" disabled />
                            </div>
                        </div>




                        <div class="form-group">
                            <label class="control-label col-md-3">Años de Experiencia</label>
                            <div class="col-md-2">
                                <div class="col-lg-10">
                                    <input class=" form-control" id="unidad" name="unidad" type="text" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="objetivo" class="control-label col-lg-2">Denominación</label>
                            <div class="col-lg-10">
                                <input class=" form-control" id="objetivo" name="objetivo" type="text" disabled/>
                            </div>
                        </div>

                    </form>


                </div>
            </div>

            <!--End-->

        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
<!--end new code-->


<script src="~/Content/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
<!--this page  script only-->
<script src="~/Content/js/form-component.js"></script>


<!--select2-->
<script type="text/javascript">

    $(document).ready(function () {
        $(".js-example-basic-single").select2();

        $(".js-example-basic-multiple").select2();
    });
</script>

}
<!--End JavaScript-->

