
@{
    ViewBag.Title = "SearchUnity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/css/tasks.css" rel="stylesheet">

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->

        <div class="row">
            <section class="panel tasks-widget">
                <header class="panel-heading">
                    Buscar Unidad
                </header>
                <div class="panel-body">

                    <div class="task-content">

                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    @*<label class="col-sm-3 control-label col-lg-3">Buscar</label>*@
                                    <button type="button" class="btn btn-success"><i class="fa fa-eye"></i></button>
                                    <div class="col-lg-9">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-white"><i class="fa fa-search"></i></button>
                                            </span>
                                            <input type="text" class="form-control">
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                        <ul class="task-list">
                            <li>

                                <div class="task-title">
                                    <span class="task-title-sp">Administración Academica</span>

                                    <div class="pull-right hidden-phone">
                                        <button onclick="location.href='/Admin/ReadUnity'" class="btn btn-success btn-xs"><i class=" fa fa-eye"></i></button>
                                        <button onclick="location.href='/Admin/EditUnity'" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <div class="task-title">
                                    <span class="task-title-sp">Fully Responsive & Bootstrap 3.0.2 Compatible</span>

                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs"><i class=" fa fa-eye"></i></button>
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <div class="task-title">
                                    <span class="task-title-sp">Daily Standup Meeting</span>

                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs"><i class=" fa fa-eye"></i></button>
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <div class="task-title">
                                    <span class="task-title-sp">Write well documentation for this theme</span>

                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs"><i class=" fa fa-eye"></i></button>
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <div class="task-title">
                                    <span class="task-title-sp">We have a plan to include more features in future update</span>

                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs"><i class=" fa fa-eye"></i></button>
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <div class="task-title">
                                    <span class="task-title-sp">Don't be hesitate to purchase this Dashbord</span>

                                    <div class="pull-right">
                                        <button class="btn btn-success btn-xs"><i class=" fa fa-eye"></i></button>
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </div>
                                </div>
                            </li>
                            <li>


                                <div class="task-title">
                                    <span class="task-title-sp">Code compile and upload</span>

                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs"><i class=" fa fa-eye"></i></button>
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <div class="task-title">
                                    <span class="task-title-sp">Tell your friends to buy this dashboad</span>

                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-success btn-xs"><i class=" fa fa-eye"></i></button>
                                        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </section>
        </div>
    </section>
    <!-- page end-->
</section>

<!--main content end-->


