@model IEnumerable<UnicaesGestion.PuestoTrabajo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/tasks.css" rel="stylesheet">

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->

        <div class="row">
            <section class="panel tasks-widget">
                <header class="panel-heading">
                    Buscar Perfil de Trabajo
                </header>
                <div class="panel-body">

                    <div class="task-content">

                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    @*<label class="col-sm-3 control-label col-lg-3">Buscar</label>*@
                                    <button type="button" class="btn btn-success col-sm-3 col-lg-2"><i class="fa fa-eye"> Mostrar Todo</i></button>
                                    <div class="col-lg-9">
                                        <div class="input-group m-bot15">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-white"><i class="fa fa-search"></i></button>
                                            </span>
                                            <input type="text" id="myInput" onkeyup="buscar()" class="form-control">
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                        <ul id="myUL" class="task-list">
                            @foreach (var item in Model)
                            {
                                <li>

                                    <div class="task-title">
                                        <span class="task-title-sp"><a>@Html.DisplayFor(modelItem => item.titulo)</a></span>

                                        <div class="pull-right hidden-phone">
                                           
                                            <button onclick="location.href='@Url.Action("Edit", "PerfilTrabajo",  new { id=item.id })'" class="btn btn-success btn-xs"><i class=" fa fa-pencil"></i> </button>
                                            <button onclick="location.href='@Url.Action("Delete", "PerfilTrabajo", new { id=item.id})'" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></button>

                                            @*<button class="btn btn-danger btn-xs" data-toggle="modal" href="#myModal" type="button"><i class="fa fa-trash-o "></i></button>*@
                                        </div>
                                    </div>
                                </li>

                            }
                        </ul>

                    </div>

                </div>
            </section>
        </div>
    </section>
    <!-- page end-->
</section>

<!--main content end-->
<!--Start JavaScript-->
@section JavaScript {

    <script>
        function buscar() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";

                }
            }
        }
    </script>

}
<!--End JavaScript-->