@model UnicaesGestion.Procedimiento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                Procedimiento
            </header>

            <header class="panel-heading">
                <div class="form-group ">
                    <div class="clearfix">
                        <!--in-->
                        <div class="btn-group pull-right">
                            <button data-toggle="dropdown" class="btn btn-group pull-right btn-primary dropdown-toggle " type="button">
                                Herramientas <span class="caret"></span>
                            </button>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">Imprimir</a></li>
                                <li><a href="#">Guardar como PDF</a></li>
                                <li><a href="#">Exportar como Excel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end-->
            </header>

            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="get" action="">
                      
                        <div class="form-group row">
                            <label class="col-lg-2 control-label">Procedimiento</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="" name="" rows="3" disabled> @Html.DisplayFor(model => model.nombre)</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 control-label">Objetivo Inicial</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="" name="" rows="3" disabled> @Html.DisplayFor(model => model.objetivoInicial)</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 control-label">Objetivo Inicial</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="" name="" rows="3" disabled> @Html.DisplayFor(model => model.objetvioFinal)</textarea>
                            </div>
                        </div>


                    </form>
                </div>
              
            </div>
            @{ Html.RenderAction("TablaPasos", "Procedimientoes");}

        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
