
@{
    ViewBag.Title = "ReadProcedure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                Manual de Procedimientos
            </header>

            <header class="panel-heading">
             <div class="form-group ">
                 <div class="clearfix">
                     <!--in-->
                     <div class="btn-group pull-right">
                         <button data-toggle="dropdown" class="btn btn-group pull-right btn-primary dropdown-toggle " type="button">
                             Herramientas <span class="caret"></span>
                         </button>
                         <ul role="menu" class="dropdown-menu">
                             <li><a href="#">Imprimir</a></li>
                             <li><a href="#">Guardar como PDF</a></li>
                             <li><a href="#">Exportar como Excel</a></li>
                         </ul>
                     </div>
                  </div>
             </div>
             <!--end-->
        </header>

         

            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="get" action="">
                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Unidad Organizativa</label>
                                <div class="col-sm-10">
                                   <input class="form-control" placeholder="Mantenimiento Menor de vehiculos" id="disabledInput" type="text" disabled>
                                </div>
                        </div>
                        <div class="form-group ">
                            <label for="procedimiento" class="control-label col-lg-2">Procedimiento</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="procedimiento" name="procedimiento" disabled rows="3">Asear y revisar, diariamente, el buen funcionamiento de los vehiculos; asi como efectuar y llevar el control de las reparaciones menores.
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="objetivoI" class="control-label col-lg-2">Objetivo Inicial</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="procedimiento" name="procedimiento" disabled rows="2">Al iniciar las labores, se procede a asear los vehiculos y se efectuan las revisiones mecanicas de estos.
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="objetivoF" class="control-label col-lg-2">Objetivo Final</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" id="procedimiento" name="procedimiento" disabled rows="2">Cuando al haberse efectuado las reparaciones, las anota en la bitacora anual que se lleva de cada vehiculo, para su control.</textarea>

                            </div>
                        </div>


                    </form>
                </div>
            </div>




            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <div class="clearfix">

                        @*<div class="btn-group">
                                <button id="editable-sample_new" class="btn green">
                                    Nueva Fila <i class="fa fa-plus"></i>
                                </button>
                            </div>*@




                        @*<div class="btn-group">
                            <button class="btn btn-danger" data-toggle="modal" href="#myModal" type="button">
                                Agregar Paso <i class="fa fa-plus"></i>
                            </button>
                        </div>*@

                        @*<div class="btn-group pull-right">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    Herramientas  <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Imprimir</a></li>
                                    <li><a href="#">Guardar como PDF</a></li>
                                    <li><a href="#">Exportar como Excel</a></li>
                                </ul>
                            </div>*@
                    </div>


                    <div class="space15"></div>

                    <div class="table-responsive">

                        <table class="table table-striped table-hover table-bordered" id="editable-sample">
                            <thead>
                                <tr>
                                    <th>Paso</th>
                                    <th>Resposable</th>
                                    <th>Descripción</th>
                                    <th>Predecesor</th>
                                    <th>Figura</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td>1</td>
                                    <td>Mecanico</td>
                                    <td>
                                        Al iniciar las labores, se procede a asear los vehiculos y se efectuan las revisiones mecanicas de estos.
                                    </td>
                                    <td></td>
                                    <td>Actividad</td>
                                </tr>
                                <tr class="">
                                    <td>2</td>
                                    <td>Mecanico</td>
                                    <td>
                                        Durante la revision se Observa lo siguiente:<br />
                                        1) Que las llantas tengan la presion adecuada.<br />
                                        2) Que las mangeras, las pastillas de frenos y la bateria esten funcionando adecuadamente.
                                    </td>
                                    <td>1</td>
                                    <td>Actividad</td>
                                </tr>
                                <tr class="">
                                    <td>3</td>
                                    <td>Mecanico</td>
                                    <td>
                                        Si durante la revision observa que hay accesorios que no esten funcionando adecuadamente, procede
                                        a desmontar el o los accesorios que esten en mal estado.
                                    </td>
                                    <td>2</td>
                                    <td>Actividad</td>
                                </tr>

                                <tr class="">
                                    <td>4</td>
                                    <td>Mecanico</td>
                                    <td>
                                        Elabora la requisicion del o de los repuestos, y efectua cotizaciones.
                                    </td>
                                    <td>3</td>
                                    <td>Actividad</td>

                                </tr>
                                <tr class="">
                                    <td>5</td>
                                    <td>Mecanico</td>
                                    <td>
                                        En base a la requisicion y cotizacion, solicita en contabilidad que se le emita la orden de
                                        compra de los repuestos.
                                    </td>
                                    <td>4</td>
                                    <td>Actividad</td>
                                </tr>
                                <tr class="">
                                    <td>6</td>
                                    <td>Auxiliar Contable</td>
                                    <td>
                                        Emite la orden de compra y la pasa al Director Administrativo para su autorizacion.
                                    </td>
                                    <td>5</td>
                                    <td>Actividad</td>
                                </tr>
                                <tr class="">
                                    <td>7</td>
                                    <td>Director Administrativo</td>
                                    <td>
                                        Revisa los documentos, y si estan en orden, los autoriza, pero cuando el costo de los repuestos sea igual
                                        o mayor de $300, la requisicion debe llevar el visto del Vicerrector General.
                                    </td>
                                    <td>6</td>
                                    <td>Actividad</td>
                                </tr>
                                <tr class="">
                                    <td>8</td>
                                    <td>Mecanico</td>
                                    <td>
                                        Con la orden de compra autorizada, adquiere el o los repuestos con el proveedor autorizado.
                                    </td>
                                    <td>7</td>
                                    <td>Actividad</td>
                                </tr>
                                <tr class="">
                                    <td>9</td>
                                    <td>Mecanico</td>
                                    <td>
                                        Adquirido el o los repuestos, procede a efectuar la reparacion menor del vehiculo.
                                    </td>
                                    <td>8</td>
                                    <td>Actividad</td>
                                </tr>
                                <tr class="">
                                    <td>10</td>
                                    <td>Mecanico</td>
                                    <td>
                                        Efectuadas las reparaciones menores, las anota en la bitacora anual que se lleva de cada vehiculo, para
                                        su control
                                    </td>
                                    <td>9</td>
                                    <td>Actividad</td>

                                </tr>

                            </tbody>
                        </table>

                        @*<div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-danger" type="submit">Save</button>
                                <button class="btn btn-default" type="button">Cancel</button>
                            </div>
                        </div>*@

                    </div>
                </div>
            </div>
            

        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
<!--common script for all pages-->



<!--Start JavaScripts-->
@section JavaScript {
    <script>
        $(document).ready(function () {
            EditableTable.init();
        });
    </script>
}
<!--End JavaScripts-->







