@model UnicaesGestion.TipoPuesto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                Tipo de Puesto
            </header>

            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form">

                        <div class="form-group ">
                            <label for="unidad" class="control-label col-lg-2">Tipo de Puesto</label>
                            <div class="col-lg-10">
                                <input class=" form-control" name="" id="" value=" @Html.DisplayFor(model => model.tipo)" type="text" disabled />
                            </div>
                        </div>                       

                    </form>
                </div>
            </div>

        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->